<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid m-2 g-1 fs-4 mt-5">
        <div class="row g-1" id="aboutus ">
            <h1 class="text-center">E-Market</h1>
            <div class="col-md-6 fs-4">
                <div class="row fs-3 bg-success text-lead mx-auto " style="height: 28rem;">
                    <h2 class="text-center text-danger"> REACH US </h2>
                    <div class="col-4 text-warning ">
                        EMAIL: <br>
                        PHONE: <br>
                        ADDRESS: <br>
                        Facebook: <br>
                        Instagram <br>
                    </div>
                    <div class="col-6 text-light ">
                        johnsseiktterc.kkf@gmail.com <br>
                        9876543210 <br>
                        Kathmandu,Bagmati,nepal <br>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bg-secondary">

                <figure style="height: 21rem;">
                    <h1 class="text-center text-danger"> SHOP SMARTER <br> SHOP FASTER</h1>
                    <img src="/images/card.png" width="100%" alt="card">
                </figure>
            </div>

        </div>
        <div class="row mt-2">
            <div class="col-12 text-center">
                <h1 class="text-success text-center"> LOCATION</h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d56527.797262236294!2d85.30144842910155!3d27.686786506393055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1627560620967!5m2!1sen!2snp"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>