<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <h1 class=" mt-5 text-center text-uppercase pt-5 text-warning">Page Not Found ERROR 404</h1>
</body>
{{>footer}}

</html>