<html lang="en">

<head>
  {{> admin_header}}
</head>

<body>
  {{> admin_navbar}}
  {{> admin_sidebar}}
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1 class="text-center text-danger text-uppercase"> {{message}}</h1>
    <h2 class="page-title text-center">Add Product</h2>
    <a href="/admin/products" class="btn btn-primary">ALL Products</a>
    <br /><br />
    <form action="/admin/products/add-products" enctype="multipart/form-data" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" class="form-control" placeholder="Title" />
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input id="Description" type="text" name="description" class="form-control" placeholder="Description" />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input id="price" type="number" name="price" class="form-control" placeholder="price" />
      </div>
      <div class="form-group">
        <label for="category">category</label>
        <select name="category" class="form-control">
          {{#each categories}}
          <option value="{{this.title}}"> {{this.title}} </option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="">Image</label>
        <input type="file" class="form-control" name="image" id="img" />
      </div>
      <button class="btn btn-block btn-success mt-2">Submit</button>
    </form>
  </div>
  {{>admin_footer}}

</body>

</html>